$primaryFont: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$displayFont: "Montserrat", sans-serif;

$primaryColor: #00667C;
$primaryLight1: #927FF0;
$primaryLight2: #B1A4F4;

$secondaryColor: #d9387a;

$secondaryFontColor: #666666;

$primaryGradient: linear-gradient(91.19deg, #2f6cb8 5.32%, #4493d2 99.61%);
$secondaryGradient: linear-gradient(90deg, #972d89 0%, #d9387a 97.92%);

$backgroundColor: #fff;
$secondaryBackgroundColor: #464646;

$primaryLayoutColor: #f8f8f8;

$backgroundInverseColor: #000;
$backgroundInverseSecondaryColor: #2b2b2b;

$fontColor: #fff;
$inverseFontColor: #000;

$errorColor: #f44336;
$successColor: #00c853;
$warningColor: #e89212;
$disabledColor: #656565;