<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
<!--    <script src="../static/main.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>


  <body style="color: #02264c">
    <div class="main">
<!--  <div class="title">-->
<!--    <h3>Smart Hotelier</h3>-->
<!--    &lt;!&ndash; <p>-->
<!--      <small>A web app demo</small>-->
<!--    </p> &ndash;&gt;-->
<!--  </div>-->
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="logo-display" src="../static/images/logo/smart-hotelier-horizontal.png"/>
    </div>
    <div class="col-sm">
      <div class="panel">
        <input id="file" class="hidden" name="file" type="file" onchange="getFileName()"/>
        <label for="file" id="file-drag" class="upload-box">
          <div id="upload-caption">Drop CSV here or click to select</div>
          <div id="upload-file-name" class="hidden"></div>
          <img id="image-preview" class="hidden" />
        </label>
      </div>
      <div style="margin-bottom: 2rem;">
<!--        <input type="button" value="Submit" class="button" onclick="upload();" />-->
        <input type="button" value="Submit" class="button" onclick="myFunction();" />
        <input type="button" value="Clear" class="button" onclick="clearImage();" />
      </div>
    </div>
    <div class="form-group" style="margin: 10px">
    <label for="exampleFormControlSelect1">Hotel Type</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>5 star</option>
      <option>3/4 star</option>
      <option>1/2 star</option>
      <option>hostels</option>
    </select>
  </div>
      <div class="form-group" style="margin: 10px">
    <label for="exampleFormControlSelect1">Location</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Colombo</option>
      <option>Unawatuna</option>

    </select>
  </div>
    <div class="col-sm" style="margin:2rem 0 0 0">
      <input type="button" value="Performance" class="button btn-danger"  onclick="performanceInfo();" />
    </div>
  </div>
</div>

<!--=========-->
<div class="image-box">
    <img id="image-display" />
   <div class="hidden"></div>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
     <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
 </div>


      <div id="my-loader" class="loader hidden"></div>
<!--=========-->
<div id="my-div" class="container hidden" >
  <div class="row">
    <div class="col-sm">
      <img class="image-display" src="../static/images/sentiment_values.png"/>
    </div>
    <div class="col-sm">
      <img class="image-display" src="../static/images/wordcloud.png"/>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-sm" style="float: right">
      <img class="image-display" src="../static/images/5star-radar.png"/>
    </div>
    <div class="col-sm">
      <img class="image-display" src="../static/images/kingsbury-radar.png"/>
    </div>

  </div>
    <div class="row" style="margin-top: 10px">
    <div class="col-sm" style="float: right">
      <img class="image-display" src="../static/images/arrival-prediction.png"/>
    </div>
    <div class="col-sm">
      <img class="image-display" src="../static/images/tokens.png"/>
    </div>

  </div>

</div>

</div>
  </body>
  <footer>
    <!-- <script src="../static/main.js"></script> -->
  </footer>
</html>


<script>
var graphs = document.getElementById("my-div")
var loader = document.getElementById("my-loader")
var file = document.getElementById("file");
var uploadCaption = document.getElementById("upload-caption");
  function myFunction() {
    show(loader)
    setTimeout(function(){
loader.style.display = "none";
graphs.style.display = "block";
}, 3000);
}

function getFileName() {
    uploadCaption.innerText = file.value
}
function show(el) {
  // show an element
  el.classList.remove("hidden");
}
function hide(el) {
  // hide an element
  el.classList.add("hidden");
}
</script>

<!--<script>-->
<!--  // var formData = new FormData()-->
<!--  //   function changeFile(){-->
<!--  //       var file = document.getElementById("csvfile")-->
<!--        -->
<!--  //       formData.append("file",file.files[0])-->
<!--  //       console.log(formData)-->
<!--  //   }-->
<!--    function upload() {-->
<!--        var file = document.getElementById("file")-->
<!--        console.log(file)-->
<!--        var formData = new FormData()-->
<!--        formData.append("file",file.files[0])-->
<!--        console.log(formData)-->
<!--        console.log(file.files[0].name)-->
<!--        $.ajax({-->
<!--                type: "POST",-->
<!--                url: "http://127.0.0.1:5000/api/predict",-->
<!--                contentType: false,-->
<!--                processData: false,-->
<!--                cache: false,-->
<!--                data: formData-->
<!--            }).done(function(res) {-->
<!--                console.log("Result", res)-->

<!--            }).fail(function(err) {-->
<!--            console.log(err)-->
<!--        })-->
<!--    }-->
<!--</script>-->